<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head th:replace="snippets.html :: name_head"></head>
<!--<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet">-->
<body>

<nav th:replace="snippets.html :: name_site_navbar"></nav>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet">

<div class="p-4 row">
    <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
        <input type="radio" class="btn-check" name="btnradio" id="liquidation-report" autocomplete="off">
        <label class="btn btn-outline-primary" for="liquidation-report">Liquidation Report</label>

        <input type="radio" class="btn-check" name="btnradio" id="noos-report" autocomplete="off">
        <label class="btn btn-outline-primary" for="noos-report">NOOS</label>

        <input type="radio" class="btn-check" name="btnradio" id="good-size-report" autocomplete="off">
        <label class="btn btn-outline-primary" for="good-size-report">Good Size Report</label>
    </div>
    <!-- Table -->
    <div class="col-12 p-4">
        <table class="table table-striped" id="liquidation-table">
            <thead>
            <tr>
                <th scope="col" class="col-2">Category</th>
                <th scope="col" class="col-2">SubCategory</th>
                <th scope="col" class="col-2">Average Discount%</th>
                <th scope="col" class="col-2">Average Discount% after Cleanup</th>
                <th scope="col" class="col-2">% of revenue Cleanup</th>
            </tr>
            </thead>
            <tbody>

            </tbody>
        </table>

    </div>

    <div class="col-12 p-4">
        <table class="table table-striped" id="noos-table">
            <thead>
            <tr>
                <th scope="col" class="col-3">Category</th>
                <th scope="col" class="col-3">Style Code</th>
                <th scope="col" class="col-3">Style ROS</th>
                <th scope="col" class="col-3">Style Revenue Contribution</th>
            </tr>
            </thead>
            <tbody>

            </tbody>
        </table>

    </div>

    <div class="col-12 p-4 mt-xl-n5">
        <table class="table table-striped" id="good-size-table">
            <thead>
            <tr>
                <th scope="col" class="col-2">Category</th>
                <th scope="col" class="col-2">SubCategory</th>
                <th scope="col" class="col-2">Size</th>
                <th scope="col" class="col-2">Revenue Contribution</th>
                <th scope="col" class="col-2">Type of Size</th>
            </tr>
            </thead>
            <tbody>

            </tbody>
        </table>

    </div>

</div>

<footer th:replace="snippets.html :: name_footer"></footer>
<script th:src="@{/static/reports.js}"/>
</script>
</body>
</html>